footer {
    background: #000000;
    color: #FFFFFF;
}

footer>section.content {
    display: flex;
    justify-content: space-between;
    background-color: rgb(190, 190, 190);
    color: #000000;
}

footer section {
    padding: .5rem 8rem;
}

footer ul {
    padding-left: 1rem;
    list-style-type: disc;
}

footer input {
    border: 1px solid #000000;
    background: #FFFFFF;
}

footer input~button {
    border: 1px solid #000000;
    background: #000000;
    color: #FFFFFF;
}

@media only screen and (max-width: 767px) {
    footer>section.content {
        flex-flow: column;
    }
    footer>section.content>* {
        width: 100%;
        justify-content: center;
    }
    footer section {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }
    .scroll-top {
        position: absolute;
        right: 1rem;
        top: -.5rem;
    }
}