footer {
    display: flex;
    flex-direction: column;
    background: #000000;
    color: #FFFFFF;
}

footer>section {
    padding: .5rem 1.8rem;
}

footer>section.content {
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    background-color: rgb(190, 190, 190);
    color: #000000;
}

footer>section.content>* {
    margin: 1rem 0;
}

footer ul {
    padding-left: 1rem;
    list-style-type: disc;
}

footer>section.content .search {
    width: 100%;
}

footer>section.content .search>button {
    width: 2rem;
    height: 2rem;
    border: 1px solid #000000;
    background-color: #000000;
    color: #FFFFFF;
}

footer>section.content .search>input {
    width: calc(100% - 2rem);
    height: 2rem;
    border: 1px solid #000000;
    background-color: #FFFFFF;
}

@media only screen and (min-width: 578px) {
    footer>section.content {
        flex-flow: wrap;
    }
    footer>section {
        padding: .5rem 5rem;
    }
}

@media only screen and (min-width:768px) {
    footer>section.content .search {
        width: auto;
    }
    footer>section.content {
        flex-flow: wrap;
        justify-content: space-between;
    }
}