* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.cover {
    margin-top: 0;
    background-color: #444444;
    height: 130px;
    position: relative;
}

a {
    text-decoration: none;
    color: white;
}

.icon {
    padding: 10px;
    min-width: 40px;
    position: absolute;
    color: #000000;
    right: 0px;
    padding: 2%;
}

.suggested {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-gap: 1rem;
    justify-items: stretch;
    grid-auto-flow: dense;
}

.text-uppercase {
    text-transform: uppercase;
}

hr.divider {
    line-height: 1.5rem;
    position: relative;
    outline: 0;
    border: 0;
    color: #000000;
    text-align: center;
    height: 1.5em;
    opacity: 1;
}

hr.divider:before {
    content: '';
    background: #000000;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

hr.divider:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: #000000;
    padding: 0 3rem;
    line-height: 1.5rem;
    color: #000000;
    background-color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 900;
}

.scroll-top {
    position: absolute;
    right: 1rem;
    top: -.5rem;
}
