.post {
    display: flex;
    flex-flow: wrap;
    margin: 0.5rem;
}

.post figure {
    margin: 0;
}

.post>figure,
.post>figure img,
.post>.details {
    width: 100%;
}

.post.new>figure::after {
    top: 0;
    left: 0;
    content: 'New';
    position: absolute;
    background-color: #ff4500;
    padding: .5rem;
    text-transform: uppercase;
    color: white;
}

.post .details .tags {
    display: flex;
    flex-flow: wrap;
    color: #FFFFFF;
}

.post .details .tags>div {
    backface-visibility: hidden;
    background-color: #ff4500;
    margin: 0.1rem;
    padding: 0.1rem;
    transition: transform 0.5s ease;
}

.post .details .tags>div:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

.post .details>h1,
.post .details>h2,
.post .details>h3,
.post .details>h4,
.post .details>h5 {
    font-weight: 900;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (min-width: 578px) {
    .post {
        flex-flow: wrap
    }
    .post>figure,
    .post>.details {
        width: auto;
    }
}