.post {
    display: flex;
    flex-flow: wrap;
    margin: 0.5rem;
    overflow: hidden;
}

.post figure {
    margin: 0;
}

.post>figure,
.post>figure img,
.post>.details {
    width: 100%;
}

.post.new>figure::after {
    top: 0;
    left: 0;
    content: 'New';
    position: absolute;
    background-color: #ff4500;
    padding: .5rem;
    text-transform: uppercase;
    color: white;
}

.post .details .tags {
    display: flex;
    flex-flow: wrap;
    color: #FFFFFF;
}

.post .details .tags>div {
    background-color: #ff4500;
    margin: 0.1rem;
    padding: 0.1rem;
    transform: scale(1.0, 1.0);
    transition: transform .5s;
}

.post .details .tags>div:hover {
    transform: scale(1.048);
}

.post .details>* {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (min-width: 578px) {
    .post {
        flex-flow: wrap
    }
    .post>figure,
    .post>.details {
        width: 100%;
    }
}