.post {
    display: flex;
    flex-flow: wrap;
    margin: 0.5rem;
    overflow: hidden;
}

.post figure {
    margin: 0;
    position: relative;
}

.post>figure,
.post>figure img,
.post>.details {
    width: 100%;
}

.post>figure img {
    opacity: 0.9;
    transition: opacity linear 0.2s;
}

.post:hover>figure img {
    opacity: 1;
}

@supports(filter: brightness(0.9)) {
    .post>figure img {
        opacity: 1;
        filter: brightness(0.9);
        transition: filter linear 0.2s;
    }
    .post:hover>figure img {
        filter: brightness(1);
    }
}

.post.new>figure::after {
    top: 0;
    left: 0;
    content: 'New';
    position: absolute;
    background-color: #ff4500;
    padding: .5rem;
    text-transform: uppercase;
    color: white;
}

.post .details .tags {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    color: #FFFFFF;
    height: 2rem;
}

.post .details .tags>div {
    background-color: #ff4500;
    height: min-content;
    margin: 0.1rem;
    padding: 0.2rem;
    font-size: 1rem;
    transition: font-size ease .2s;
}

.post .details .tags>div:hover {
    font-size: 1.1rem;
}

.post .details>h3 {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (min-width: 578px) {
    .post {
        flex-flow: wrap
    }
    .post>figure,
    .post>.details {
        width: 100%;
    }
}