.post-container {
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

.post-container .posts:not(.latest) .post .details {
    position: relative;
    margin-top: -3rem;
}

.post-container .post .tags>div:first-child {
    margin-left: 0;
}

.post-container .post.new>figure::after {
    position: absolute
}

.post-container .posts {
    overflow-x: hidden;
}

.post-container .latest.posts,
.post-container .post>figure {
    width: 100%;
}

.post-container .post-controls {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.post-container .post-controls>a {
    background-color: #ff4500;
}

.post .details>p {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media only screen and (min-width: 578px) {
    .post-container .posts:not(.latest) .post .details {
        position: static;
        margin-top: 0;
    }
    .post-container .post .details .tags {
        margin-left: 0;
    }
    .post-container .details {
        padding-left: 1rem;
    }
    .post-container .posts .post figure {
        width: 10rem;
        height: auto;
    }
    .post-container .posts .details {
        width: calc(100% - 10rem)
    }
    .post-container .latest.posts .post figure {
        width: 8rem;
        height: auto;
    }
    .post-container .latest.posts .details {
        width: calc(100% - 8rem)
    }
    .post .details>p {
        -webkit-line-clamp: 3;
    }
}

@media only screen and (min-width: 992px) {
    .post-container .posts {
        width: 65%;
    }
    .post-container .latest.posts {
        width: 35%;
        padding-left: 1rem;
    }
    .post-container .posts .post figure {
        width: 10rem;
        height: auto;
    }
    .post-container .posts .details {
        width: calc(100% - 10rem)
    }
    .post-container .latest.posts .post figure {
        width: 6rem;
        height: auto;
    }
    .post-container .latest.posts .details {
        width: calc(100% - 6rem)
    }
}

@media only screen and (min-width: 1200px) {
    .post-container .posts .post figure {
        width: 15rem;
        height: auto;
    }
    .post-container .posts .details {
        width: calc(100% - 15rem)
    }
    .post-container .latest.posts .post figure {
        width: 10rem;
        height: auto;
    }
    .post-container .latest.posts .details {
        width: calc(100% - 10rem)
    }
    .post .details>p {
        -webkit-line-clamp: 7;
    }
}