.featured-post-container {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
}

.featured-post-container .post {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.featured-post-container .post figure {
    height: 25rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.featured-post-container .post figure img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}

@supports (object-fit: cover) {
    .featured-post-container .post figure {
        height: auto
    }
    .featured-post-container .post img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.featured-post-container .post>.details {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    color: white;
    width: calc(100% - 6rem);
}

@media only screen and (min-width: 576px) {
    .featured-post-container .post {
        width: calc(50% - 1rem);
    }
}

@media only screen and (min-width: 992px) {
    .featured-post-container .post {
        width: calc(25% - 1rem);
    }
}