/* icons are 14px height, with proportional width. Has 10px padding between elements */

.icon {
    background-image: url('../assets/css_sprites (3).png');
}


/*******************
    Chevron up 
*******************/

.icon.icon__chevron-up {
    width: 16px;
    height: 17px;
}

.icon__chevron-up--color-dark {
    background-position: -164px -10px;
}

.icon__chevron-up--color-light {
    background-position: -10px -127px;
}

.icon__chevron-up--color-accent {
    background-position: -164px -47px;
}

.icon__chevron-up--hover-dark:hover {
    background-position: -164px -10px;
}

.icon__chevron-up--hover-light:hover {
    background-position: -10px -127px;
}

.icon__chevron-up--hover-accent:hover {
    background-position: -164px -47px;
}


/*******************
    facebook 
*******************/

.icon__facebook {
    width: 12px;
    height: 19px;
}

.icon__facebook--color-dark {
    background-position: -164px -84px;
}

.icon__facebook--color-light {
    background-position: -200px -10px;
}

.icon__facebook--color-accent {
    background-position: -164px -123px;
}

.icon__facebook--hover-dark:hover {
    background-position: -164px -84px;
}

.icon__facebook--hover-light:hover {
    background-position: -200px -10px;
}

.icon__facebook--hover-accent:hover {
    background-position: -164px -123px;
}


/*******************
    Pinterest
*******************/

.icon__pinterest {
    width: 15px;
    height: 19px;
}

.icon__pinterest--color-dark {
    background-position: -129px -10px;
}

.icon__pinterest--color-light {
    background-position: -129px -88px;
}

.icon__pinterest--color-accent {
    background-position: -129px -49px;
}

.icon__pinterest--hover-dark:hover {
    background-position: -129px -10px;
}

.icon__pinterest--hover-light:hover {
    background-position: -129px -88px;
}

.icon__pinterest--hover-accent:hover {
    background-position: -129px -49px;
}


/*******************
    Search 
*******************/

.icon__search {
    width: 19px;
    height: 19px;
}

.icon__search--color-dark {
    background-position: -50px -49px;
}

.icon__search--color-light {
    background-position: -90px -49px;
}

.icon__search--color-accent {
    background-position: -90px -10px;
}

.icon__search--hover-dark:hover {
    background-position: -50px -49px;
}

.icon__search--hover-light:hover {
    background-position: -90px -49px;
}

.icon__search--hover-accent:hover {
    background-position: -90px -10px;
}


/*******************
    Twitter
*******************/

.icon__twitter {
    width: 19px;
    height: 19px;
}

.icon__twitter--color-dark {
    background-position: -10px -88px;
}

.icon__twitter--color-light {
    background-position: -88px -88px;
}

.icon__twitter--color-accent {
    background-position: -49px -88px;
}

.icon__twitter--hover-dark:hover {
    background-position: -10px -88px;
}

.icon__twitter--hover-light:hover {
    background-position: -88px -88px;
}

.icon__twitter--hover-accent:hover {
    background-position: -49px -88px;
}


/*******************
   Youtube 
*******************/

.icon__youtube {
    width: 20px;
    height: 19px;
}

.icon__youtube--color-dark {
    background-position: -10px -10px;
}

.icon__youtube--color-light {
    background-position: -10px -49px;
}

.icon__youtube--color-accent {
    background-position: -50px -10px;
}

.icon__youtube--hover-dark:hover {
    background-position: -10px -10px;
}

.icon__youtube--hover-light:hover {
    background-position: -10px -49px;
}

.icon__youtube--hover-accent:hover {
    background-position: -50px -10px;
}


/*******************
   Bars 
*******************/

.icon__bars {
    width: 16px;
    height: 17px;
}

.icon__bars--color-dark {
    background-position: -46px -127px;
}

.icon__bars--color-light {
    background-position: -128px -127px;
}

.icon__bars--color-accent {
    background-position: -87px -127px;
}

.icon__bars--hover-dark:hover {
    background-position: -46px -127px;
}

.icon__bars--hover-light:hover {
    background-position: -128px -127px;
}

.icon__bars--hover-accent:hover {
    background-position: -87px -127px;
}