/* icons are 14px height, with proportional width. Has 10px padding between elements */

.icon {
    background-image: url('../assets/css_sprites (3).png');
}


/*******************
    Chevron up 
*******************/

.icon-chevron-up-dark {
    background-position: -164px -10px;
}

.icon-chevron-up-light {
    background-position: -10px -127px;
}

.icon-chevron-up-accent {
    background-position: -164px -47px;
}

.icon-chevron-up-hover-dark:hover {
    background-position: -164px -10px;
}

.icon-chevron-up-hover-light:hover {
    background-position: -10px -127px;
}

.icon-chevron-up-hover-accent:hover {
    background-position: -164px -47px;
}


/*******************
    facebook 
*******************/

.icon-facebook-dark {
    background-position: -164px -84px;
}

.icon-facebook-light {
    background-position: -200px -10px;
}

.icon-facebook-accent {
    background-position: -164px -123px;
}

.icon-facebook-hover-dark:hover {
    background-position: -164px -84px;
}

.icon-facebook-hover-light:hover {
    background-position: -200px -10px;
}

.icon-facebook-hover-accent:hover {
    background-position: -164px -123px;
}


/*******************
    Pinterest
*******************/

.icon-pinterest-dark {
    background-position: -129px -10px;
}

.icon-pinterest-light {
    background-position: -129px -88px;
}

.icon-pinterest-accent {
    background-position: -129px -49px;
}

.icon-pinterest-hover-dark:hover {
    background-position: -129px -10px;
}

.icon-pinterest-hover-light:hover {
    background-position: -129px -88px;
}

.icon-pinterest-hover-accent:hover {
    background-position: -129px -49px;
}


/*******************
    Search 
*******************/

.icon-search-dark {
    background-position: -50px -49px;
}

.icon-search-light {
    background-position: -90px -49px;
}

.icon-search-accent {
    background-position: -90px -10px;
}

.icon-search-hover-dark:hover {
    background-position: -50px -49px;
}

.icon-search-hover-light:hover {
    background-position: -90px -49px;
}

.icon-search-hover-accent:hover {
    background-position: -90px -10px;
}


/*******************
    Twitter
*******************/

.icon-twitter-dark {
    background-position: -10px -88px;
}

.icon-twitter-light {
    background-position: -88px -88px;
}

.icon-twitter-accent {
    background-position: -49px -88px;
}

.icon-twitter-hover-dark:hover {
    background-position: -10px -88px;
}

.icon-twitter-hover-light:hover {
    background-position: -88px -88px;
}

.icon-twitter-hover-accent:hover {
    background-position: -49px -88px;
}


/*******************
   Youtube 
*******************/

.icon-youtube-dark {
    background-position: -10px -10px;
}

.icon-youtube-light {
    background-position: -10px -49px;
}

.icon-youtube-accent {
    background-position: -50px -10px;
}

.icon-youtube-hover-dark:hover {
    background-position: -10px -10px;
}

.icon-youtube-hover-light:hover {
    background-position: -10px -49px;
}

.icon-youtube-hover-accent:hover {
    background-position: -50px -10px;
}


/*******************
   Bars 
*******************/

.icon-bars-dark {
    background-position: -46px -127px;
}

.icon-bars-light {
    background-position: -128px -127px;
}

.icon-bars-accent {
    background-position: -87px -127px;
}

.icon-bars-hover-dark:hover {
    background-position: -46px -127px;
}

.icon-bars-hover-light:hover {
    background-position: -128px -127px;
}

.icon-bars-hover-accent:hover {
    background-position: -87px -127px;
}